<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pollution">

    <!-- fine location used in MapsActivity.kt. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Allow backup is a feature we neither require nor want. -->
    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".ui.MapsActivity"
                android:label="@string/title_activity_maps">
            <intent-filter>
                <!--if you don't want to enable app indexing. action.
                https://developer.android.com/guide/topics/data/autobackup-->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN"/>
               <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
       </activity>


        <!-- List Activity -->
        <activity
                android:parentActivityName=".ui.MapsActivity"
                android:name=".ui.SettingsActivity"
                android:label="@string/list_title">

        </activity>

        <!-- Graph Activity. Parent Forecast if I understood correctly. TODO: right? -->
        <activity android:name=".ui.GraphActivity"
                  android:label="Graph"
                  android:parentActivityName=".ui.ForecastActivity">
        </activity>

        <!-- Forecast Activity -->
        <activity android:name=".ui.ForecastActivity"
                  android:parentActivityName=".ui.MapsActivity"
                  android:label="Forecast"
                  >
        </activity>

        <!-- Alert Activity -->
        <activity android:name=".ui.AlertActivity"
                  android:parentActivityName=".ui.MapsActivity"
                  android:label="@string/alert_title"/>

        <!-- Week Activity -->
        <activity android:name=".ui.WeekActivity"
                  android:parentActivityName=".ui.AlertActivity"
                  android:label="@string/alert_week_title"/>

        <!-- Stats Activity -->
        <activity android:name=".ui.StatsActivity"
                  android:parentActivityName=".ui.MapsActivity"
                  android:label="Stats"
        >
        </activity>
   </application>

</manifest>